.listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.turnCard{
    display: flex;
    flex-direction: column;
    background-color: #ffffff5e;
    width: 450px;
    border: solid blue 2px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
}

.list-title{
    margin: 20px;
    background-color: #ffffff5e;
    width: 470px;
    margin-inline: auto;
    border: solid blue 2px;
    border-radius: 20px;
    padding: 5px;
}